@import 'app';

.well{

    .link_annonce{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: var(--faded-orange);
        text-align: center;
        display: block;
        margin-top: 35px;
        &:hover {
            transition: 0.5s ease-in-out;
            color: var(--charcoal);
        }
    }

    .login_link{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: var(--charcoal);
        text-align: center;
        display: block;
        &:hover{
            transition: 0.5s ease-in-out;
            color:var(--faded-orange);
        }
    }

    .login_title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: 100%;
        background-color: var(--very-light-blue);
        position: relative;
        z-index: -1;

        .path_home{
            position: absolute;
            left: 35%;
            width: 20%;
        }

        h1{
            @extend %title;
            z-index: 2;
        }
        h2{
            @extend %subtitle;
            max-width: 350px;
            text-align: center;
            margin-top: 25px;
            z-index: 2;
        }
    }

    form{
        margin-top: 55px;
        display: flex;
        justify-content: center;

        fieldset{
            display: flex;
        }
        .form-group{
            display: flex;
            flex-direction: column;
            width: 402px;
            max-width: 1440px;
            margin: 0 auto;
            margin-top: 25px;
    
            label{
                @extend %label;
            }
    
            input{
                width: 402px;
                border: none;
                border-bottom: 1px solid var(--charcoal);
                outline: none;
                @extend %input;
            }
    
            input::placeholder{
                @extend %placeholder;
            }
        }
    
        button{
            @extend %button;
            margin: 55px auto;
            align-items: inherit;
        }
    }

}

.register_form{
    form{
        display: flex;
        flex-direction: column;
        width: 402px;
        max-width: 1440px;
        margin: 0 auto;
        div{
            label{
                @extend %label;
                margin-top: 25px;
                display: block;
            }
    
            input{
                width: 402px;
                border: none;
                border-bottom: 1px solid var(--charcoal);
                outline: none;
                @extend %input;
            }

            textarea{
                width: 402px;
                height: 85px;
                outline: none;
                border: 1px solid var(--charcoal);
            }
    
            input::placeholder{
                @extend %placeholder;
            }
        }
        button{
            @extend %button;
            margin: 55px auto;
            align-items: inherit;
        }

        input[type=submit]{
            @extend %button;
            margin: 55px auto;
            align-items: inherit;
        }
    }

}